html{
    height: 100%;
}
body{
    margin:0px;
    padding:0px;
    height: 99%;
}
main{
    height: 100%;
}
#question{
    height: 18%;
    font-size: 6vw;
    background-color: #233040;
    color: white;
    margin: 0px;
}

#checkbox{
    background-color: #233040;
    display: inline-block;
    height: 66%;
}

#checkbox p{
    height: 18%;
}

#bouton{
    background-color: #233040;
    display: inline-block;
    height: 12%;
    width: 100%;
    padding:1%;
}
#valider{
    background-color: rgb(128, 226, 115);
    padding: 1%;
    margin: 1%;
    border-radius: 10%;
    width: 46%;
    height: 90%;
    font-size: 6vw;
    color: black;
}

#q_suivante{
    background-color: gray;
    padding: 1%;
    border-radius: 10%;
    width: 46%;
    height: 90%;
    font-size: 6vw;
    color: black;
}

#checkbox{
    width: 100%;
}
#checkbox p{
    font-size: 5vw;
    margin: 2% 2% 2% 2%;
    border-radius: 2%;
}

#score{
    font-size: 5vw;
    margin: 0px;
    margin: 1%;
    height: 3%;
}
/*#df5368*/
