html{
    height: 100%;
}
body{
    margin:0px;
    padding:0px;
    height: 100%;
}
main{
    height: 100%;
}
#question{
    height: 15%;
    font-size: 6vw;
    background-color: gray;
    margin: 0px;
}

#checkbox{
    background-color: rgb(86, 131, 161);
    display: inline-block;
    height: 70%;
}

#checkbox p{
    height: 17.8%;
}

#bouton{
    background-color: rgb(158, 75, 75);
    display: inline-block;
    height: 15%;
    width: 100%;
    padding:1%;
}
#valider{
    background-color: rgb(88, 241, 68);
    padding: 1%;
    margin: 1%;
    border-radius: 10%;
    width: 46%;
    height: 90%;
    font-size: 6vw;
}

#q_suivante{
    background-color: gray;
    padding: 1%;
    border-radius: 10%;
    width: 46%;
    height: 90%;
    font-size: 6vw;
}

#checkbox p{
    font-size: 5vw;
    margin:1%;
    padding: 1%;
    background-color: rgb(152, 86, 161);
}
